<app-menu></app-menu>

<mat-card>
  <img mat-card-image class="example-header-image" src="/assets/imagenes/quiensoy.jpg">
  <mat-card-title class="quiensoy">Quien Soy?</mat-card-title>
  <p class="quiensoy">Nicolas Alejandro Sande</p>

  <mat-card>
    <mat-card-title class="trabajopractico">Juego Elegido: MemoTest</mat-card-title>
    <p class="trabajopractico">
      Juego de memoria fotografica. Consta de un tablero con 20 cartas, en donde hay que encontrar los pares. Participacion especial de Gato y Tuca... los encontraras?
    </p>
  </mat-card>

  <mat-card>
    <mat-card-title class="trabajopractico">Dónde Funciona?</mat-card-title>
    <div class="flexcard">
      <mat-card>
        <p class="trabajopractico">
          <img mat-card-image class="example-header-image1" src="/assets/imagenes/quiensoy1.png">
          Con las tecnologias WEB que permiten desarrollar aplicaciones multiplataforma.
        </p>
      </mat-card>

      <mat-card>
        <p class="trabajopractico">
          <img mat-card-image class="example-header-image1" src="/assets/imagenes/quiensoy2.jpg">
          Principalmente orientada a la experiencia del usuario, garantizando que su funcionamieto sea fluido y pensado en el comportamiento del usuario y en la funcionalidad.
        </p>
      </mat-card>

      <mat-card>
        <p class="trabajopractico">
          <img mat-card-image class="example-header-image1" src="/assets/imagenes/quiensoy3.png">
          Para los sistemas operativos lideres en el mercado del consumo masivo.
        </p>
      </mat-card>
    </div>
  </mat-card>
  
</mat-card>

<app-footer></app-footer>