<app-menu></app-menu>

<mat-card>
  <mat-card-title>Listado Jugadores</mat-card-title>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Mail</th>
        <th>Rol</th>
        <!-- <th>Victorias</th>
        <th>Derrotas</th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let jugador of listado" >
        <td>{{jugador.nombre}} {{jugador.apellido}}</td>
        <td>{{jugador.mail}} </td> 
        <td>{{jugador.rol}} </td> 
        <!-- <td>{{jugador.wins}} </td> 
        <td>{{jugador.losses}} </td>  -->
        
      </tr>
    
    </tbody>
  </table>
</mat-card>
<app-footer></app-footer>