<mat-card>
  <div class="flexcard">
    <mat-card>
      
      <p class="trabajopractico">
        <mat-card-title>Anagrama</mat-card-title>
        <img mat-card-image class="example-header-image1" src="./assets/imagenes/anagrama.jpg">
        Juego de ingenio
      </p>
      <a (click)="Juego('Anagrama')" mat-raised-button color="primary" >Jugar </a>
    </mat-card>

    <mat-card>
      <p class="trabajopractico">
        <mat-card-title>Piedra, Papel o Tijera</mat-card-title>
        <img mat-card-image class="example-header-image1" src="./assets/imagenes/ppt.jpg">
        Juega contra la máquina
      </p>
      <a (click)="Juego('PPT')" mat-raised-button color="primary" >Jugar </a>
    </mat-card>

    <mat-card>
      <p class="trabajopractico">
        <mat-card-title>Velocidad y agilidad aritmética</mat-card-title>
        <img mat-card-image class="example-header-image1" src="/assets/imagenes/cerebro.jpg">
        Juego de agilidad mental
      </p>
      <a (click)="Juego('Agilidad')" mat-raised-button color="primary" >Jugar </a>
    </mat-card>

    <mat-card>
      <p class="trabajopractico">
        <mat-card-title>Adivina el número secreto</mat-card-title>
        <img mat-card-image class="example-header-image1" src="/assets/imagenes/adivina.png">
        Juego de estrategia
      </p>
      <a (click)="Juego('Adivina')" mat-raised-button color="primary" >Jugar </a>
    </mat-card>

    <mat-card>
      <p class="trabajopractico">
        <mat-card-title>TaTeTi</mat-card-title>
        <img mat-card-image class="example-header-image1" src="/assets/imagenes/tateti.jpg">
        Juega con otra persona
      </p>
      <a (click)="Juego('TaTeTi')" mat-raised-button color="primary" >Jugar </a>
    </mat-card>

    <mat-card>
      <p class="trabajopractico">
        <mat-card-title>Memo Test</mat-card-title>
        <img mat-card-image class="example-header-image1" src="/assets/imagenes/memotest.jpg">
        Juego de memoria
      </p>
      <a (click)="Juego('MemoTest')" mat-raised-button color="primary" >Jugar </a>
    </mat-card>
  </div>
</mat-card>
  