mat-card {
    max-width: 70%;
    margin: 2em auto;
	text-align: center;
	align-content: center;
}

form {
    width: 60%;
    margin-left:auto; 
    margin-right:auto;
}

input {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}