<mat-card>
  <h2 *ngIf="winner">
    Ganaste la partida!
  </h2>
  <h2 *ngIf="looser">
    Perdiste :(
  </h2>
  
  <form name="juego">
    <ul>
      <li>
        Primer número: <input [(ngModel)]="nuevoJuego.primerNumero" placeholder="Enteros de 1 al 10" name="prmrNumero" type="text" class="form-control" readonly/>
      
      </li>
      <li>
        Operador: <input [(ngModel)]="nuevoJuego.operador" placeholder="Operacion (+ o -)" name="oprdr" type="text" class="form-control" readonly/>
        
      </li>
      <li>
        Segundo número: <input [(ngModel)]="nuevoJuego.segundoNumero" placeholder="Enteros de 1 al 10" name="sgndNumero" type="text" class="form-control" readonly/>
        
      </li>
      <li>
        Respuesta: <input [(ngModel)]="nuevoJuego.numeroIngresado" placeholder="Ingrese resultado (del 0 al 100)" name="numeroIngresado" type="text" class="form-control"/>
        
      </li>
      <br>
      <li [hidden]="ocultarVerificar">
        <h2  ><button mat-raised-button  color="accent" class="verificar"><i class="fa fa-spinner fa-spin"></i> Verificar {{Tiempo}} </button></h2>
      </li>
      <li [hidden]="!ocultarVerificar">
        <h2 ><button mat-raised-button  color="primary" (click)="NuevoJuego()">Nuevo Juego</button></h2>
      </li>
      
    </ul>

  </form>
</mat-card>

<!-- <li>
  <h2><p><i class="fa fa-spinner fa-spin"></i>Esperando numero...</p></h2>

  <h3 [hidden]="!nuevoJuego.gano">usted adivino el número</h3>
  <h3 [hidden]="nuevoJuego.gano">usted aún no gano </h3>
</li> -->