<mat-card class="panel panel-default">
  <mat-card-title>Sala de Juegos</mat-card-title>
  <mat-card-subtitle>Nicolas Sande</mat-card-subtitle>
  <a href="https://github.com/PsychoPsyduck" target="_blank" mat-raised-button color="primary" >GitHub <i class="fa fa-github"></i></a>
  <a routerLink="/QuienSoy" mat-raised-button color="primary" >Quien Soy? <i class="fa fa-user"></i></a>
  <a  mat-raised-button color="primary" (click)="Salir()">LogOut <mat-icon>power_settings_new</mat-icon></a>
</mat-card>
