mat-card {
    max-width: 70%;
    margin: 2em auto;
    text-align: center;
}

a {
    cursor: auto;
    margin: auto;
    margin-right: auto;
    margin-left: auto;
}

div.btn-group {
    padding: 1%;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

input {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}